body {
	padding:0px;
	margin:0; 
	background:#000000;
	font-size:14px;
	font-family:Arial, Sans-serif;}
	
#basic {
	width:70%;
	
	margin:0 auto;
	padding:1% 1% 1% 1%;
	background:#fff;}
	
img {border:0;text-align: center;}
a {color:#2F4F4F;}
a:hover {text-decoration:none;}


li.none-bg {background:none!important;}
.telefon {float:right;}
.number {float:right;}

/*Верхнее меню сайта*/
#top-menu {width:80%; height:120px; }
.bg-1 {width:100%; height:100%; background:#696969 url(img/opel1.png) repeat-x; }
.bg-2 {width:100%; height:10px; background:#2f4f4f; margin:0 auto;}
.bg-1 ul {margin:0; padding:0; list-style:none; display:flex;justify-content: space-around; }
.bg-1 ul li {background:url(img.png) no-repeat right center; padding:0 2px 0 0; text-align: center}
.bg-1 ul li a {display:block; height:40px; padding:24px 27px 0 27px; color:#ffffff; text-decoration:none; text-transform:uppercase;}
.bg-1 ul li a:hover {color:#fff; background:#2F4F4F;}

/*Левое меню и Контент*/
#content {width:100%; padding:5% 0 0 0; }
.right { float:right; width: 65%; padding:0 5% 0 5%; text-align:justify;}
.right h1 {text-transform:uppercase; color:#2f4f4f; font-weight:normal; margin-top:0;}
.left {width:10%; float:left;padding: 0 0 0 1%;}
.block-nad-menu {width:200%; height:10px; background:#2f4f4f;}
.block-pod-menu {width:200%; margin:0 0 0 10px; height:10px; background:#696969;}
.block-menu {width:200%; border-left:10px solid #2f4f4f; background:#696969;}
.left ul {margin:0; padding:10px 0 0 0; list-style:none;}
.left ul li {background:url(images/m3.png) no-repeat bottom left;}
.left ul li a {display:block; width:70%; color:#fff; text-decoration:none; padding:10% 5% 10% 10%; background: url(images/marker.png) no-repeat 10px 8px;}
.left ul li a:hover {background:#2f4f4f url(images/marker.png) no-repeat 10px 8px;}
li.none-bg {background:none!important;}

/*Подвал*/
.myclr {clear:both; float:none; width:100%; height:1px;}
#podval {border-top:10px solid #696969; margin-top:20px;}
.yellow {width:100%; height:5px; margin:0 auto; background:#2f4f4f;}
.p1 {float:left; width:60%; padding:2% 1% 1% 1%;}
.p2 {float:right; width:100%; text-align:right; padding:15px 20px 0 0;}
.p3 {float:right; width:10%; padding:15px 0 0 0;}

.modal {
	display: block;
	width: 250px;
	max-width: 100%;
	height: 150px;
	max-height: 100%;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
	display: none;
}
  
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
	align-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 20px 50px 20px 20px;
}
  
